# Data Preparation

## Data Cleaning

In [5]:
import pandas as pd

In [7]:
bank_mkt = pd.read_csv("../data/BankMarketing.csv",
                       na_values=["unknown", "nonexistent"],
                       true_values=["yes", "success"],
                       false_values=["no", "failure"])

bank_mkt = bank_mkt.astype(dtype={"age": "int64",
                                  "job": "category",
                                  "marital": "category",
                                  "education": "category",
                                  "default": "boolean",
                                  "housing": "boolean",
                                  "loan": "boolean",
                                  "contact": "category",
                                  "month": "category",
                                  "day_of_week": "category",
                                  "duration": "int64",
                                  "campaign": "int64",
                                  "pdays": "int64",
                                  "previous": "int64",
                                  "poutcome": "boolean",
                                  "y": "boolean"})

In [8]:
bank_mkt

,age,job,marital,education,default,housing,loan,contact,month,day_of_week,...,campaign,pdays,previous,poutcome,emp.var.rate,cons.price.idx,cons.conf.idx,euribor3m,nr.employed,y
0,56,housemaid,married,basic.4y,False,False,False,telephone,may,mon,...,1,999,0,<NA>,1.1,93.994,-36.4,4.857,5191.0,False
1,57,services,married,high.school,<NA>,False,False,telephone,may,mon,...,1,999,0,<NA>,1.1,93.994,-36.4,4.857,5191.0,False
2,37,services,married,high.school,False,True,False,telephone,may,mon,...,1,999,0,<NA>,1.1,93.994,-36.4,4.857,5191.0,False
3,40,admin.,married,basic.6y,False,False,False,telephone,may,mon,...,1,999,0,<NA>,1.1,93.994,-36.4,4.857,5191.0,False
4,56,services,married,high.school,False,False,True,telephone,may,mon,...,1,999,0,<NA>,1.1,93.994,-36.4,4.857,5191.0,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
41183,73,retired,married,professional.course,False,True,False,cellular,nov,fri,...,1,999,0,<NA>,-1.1,94.767,-50.8,1.028,4963.6,True
41184,46,blue-collar,married,professional.course,False,False,False,cellular,nov,fri,...,1,999,0,<NA>,-1.1,94.767,-50.8,1.028,4963.6,False
41185,56,retired,married,university.degree,False,True,False,cellular,nov,fri,...,2,999,0,<NA>,-1.1,94.767,-50.8,1.028,4963.6,False
41186,44,technician,married,professional.course,False,False,False,cellular,nov,fri,...,1,999,0,<NA>,-1.1,94.767,-50.8,1.028,4963.6,True
41187,74,retired,married,professional.course,False,True,False,cellular,nov,fri,...,3,999,1,False,-1.1,94.767,-50.8,1.028,4963.6,False

In [ ]:
# handle missing values

## Data Transformation

## Feature Engineering